@require "./helpers/reset"
@require "./helpers/mixins"
@require "./helpers/miscelanous"
@require "./components/*"

:root
    scrollbar

// General Elements Styling
html
    background: color-white
    color: color-black
    font-family: font-family-default, font-family-sans
    max-width: 100vw
    min-height: 100vh
    overflow-x: hidden
    scroll-behavior: smooth

    body
        font-family: @font-family
        max-width: @max-width
        min-height: 100%
        overflow-x: hidden
        width: 100vw

        scrollbar
        *
            font-family: @font-family
            line-height: line-height-MD
            scrollbar

h1
h2
h3
h4
h5
h6
    font-family: font-family-title, font-family-sans
