@require "./mixins"

vendor-prefixes = webkit moz o ms official
i = !important
size = 16
transition = cubic-bezier(0.65, 0.05, 0.36, 1)
scrollbar = scrollbars(5, red)
empty = ""
// Sizes
xs = rem(6)
sm = rem(12)
md = rem(24)
lg = rem(48)
xl = rem(96)
// Boostrap V4 Breakpoints
screen-xs = 320
screen-sm = 576
screen-md = 768
screen-lg = 992
screen-xl = 1200
screen-xxl = 1400
// Border Radius
radius-xs = 3.2
radius-sm = 6.4
radius-md = 9.6
radius-lg = 16
radius-xl = 19.2
radius-round = 1000
// Collections
font-sizes = 12 16 21 28 37 50 67 80 119 159
sides = "-top" "-bottom" "-left" "-right" ""
sides-no-dashes = "top" "bottom" "left" "right" ""
font-weights = normal 300 400 500 600 700 900
font-main = "replace-me"
font-sans = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
// Hashes
palette = {
    black: #333333,
    blue: #186AE8,
    gray: #a2a2a2,
    green: #579917,
    light-gray: #f2f2f2,
    orange: #ff3300,
    pink: #ff66cc,
    purple: #9933ff,
    red: #b42f2f,
    white: #ffffff,
    yellow: #ffc600,
    transparent: transparent
}
/* Overwrite original colors */
black = palette.black
blue = palette.blue
gray = palette.gray
green = palette.green
light-gray = palette.light-gray
orange = palette.orange
pink = palette.pink
purple = palette.purple
red = palette.red
white = palette.white
yellow = palette.yellow
transparent = palette.transparent
social = {
    behance: #1769FF,
    dropbox: #007ee5,
    facebook: #4b6eaa,
    foursquare: #0072b1,
    linkedin: #007bb5,
    pinterest: #CB2027,
    snapchat: #fffc00,
    spotify: #00E461,
    tumblr: #32506d,
    twitter: #55ACEE,
    whatsapp: #4DC247,
    youtube: #ff0000
}
colors = merge(palette, social)
breakpoints = "" "tab-" "des-" "lar-" "xl-"
spaces = {
    -xs: 6,
    -sm: 12,
    -lg: 48,
    -xl: 96
}
spaces[""] = 24
border-radius-sizes = {
    -xs: radius-xs,
    -sm: radius-sm,
    -lg: radius-lg,
    -xl: radius-xl,
    -round: radius-round
}
border-radius-sizes[""] = radius-md
